<h1>Add ToDo</h1>

<%= form_with(model: @todo, local:true) do |f| %>

<div class="field">
  <%= f.label :task %>
  <%= f.text_field :task %>
</div>
  <%= f.submit %>

<%end%>

<%# <%= todo.id ? @todo : "Add New List"%>
<%# 
<%= form_for @todo do |f|%> 

  <%# <%= f.label :list %>
  <%# <%= f.text_field :list %> 

  <%# <%= f.label :task %>
  <%# <%= f.text_field :task %> 

  <%# <%= f.submit %> 