<h1> ToDos </h1>

<%= button_to "Log Out", destroy_user_session_path, method: :delete %>
<h2>Welcome <%= current_user.first_name %></h2>

<hr />
<%= link_to "Add ToDo", new_todo_path %>
<h3>Your ToDo List</h3>

    <% @todos.each do |todo| %>

  <dl>
    <dt> <%= todo.list %>
      <dd> <%= todo.task %>
      </dd>
    </dt>
  </dl>
<%end%>